html, body{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:rgb(37,38,43);
        margin: 0;
        background: #e5f1cb;
    }

    header{
        background-color:rgb(37,38,43);
        padding: 40px;
        text-align: center;
    }

    
    h1{
        font-family: serif;
        font-size: 90px;
        color: rgb(185,219,123);
    }
    h2{
        font-family: sans-serif;
    }

    header img{
        border-radius: 174px;
        width: 300px;
        box-shadow: 10px 10px 10px 10px rgb(57, 66, 39) ;
        border: 24px solid rgb(185,219,123);
    }

    .content{
        max-width: 900px;
        margin: 0 auto;
        padding: 0 20px;
    }

    img.big-image{
        max-width: 100%;
        width: 1000px;
    }

    p.caption{
        font-size: 16px;
        color: rgb(40, 75, 45);
        font-style: italic;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    a{
        color:  rgba(246, 5, 5, 0.947);
        text-decoration: none;
    }
    
    a:active {
        color: rgb(30, 139, 212);
    }
    
    a[tabindex]:focus {
        color:rgb(57, 57, 204);
        outline: none;
    }

    a:hover { color: blue; 
        text-decoration: none; 
        font-weight: none; }

    .l{
        color: rgb(224, 125, 106);
        text-decoration: none

    }
    
    footer{
        color:rgb(202, 203, 212);
        margin-top: 20px;
        padding: 40px 20px;
        background-color:rgb(36, 38, 44);
    }

    footer ul{
        text-align: center;
    }

    footer ul li{
        display: inline-block;
        margin: 0 5px;
    }